<div class="Header">
<form method="post" action="login">
<table>
<tr>
<td id="logo">Schools.com</td>
<td>
<button tabindex="3">Login</button>
<input type="password" id="password" name="password" tabindex="2"></input>
<label for="password">password</label>
<input type="text" id="userId" name="userId" tabindex="1"></input>
<label for="userId">user id</label>
</td>
</tr>
<a href='/registerUser'>Register User</a>
</table>
</form>
</div>
