<div class="Header">
<form method="post" action="login">
<table>
<tr>
<td id="logo">Schools.com</td>
<td>
</td>
</tr>
<a href='/logout'>Logout</a>
<label id="userId" style="font-size:20px;padding-right:10px;color:red;"><%= userId%></label>
<label>Logged in as: </label>
</table>
</form>
</div>
