<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css">
<meta charset="UTF-8">
<title>Insert New Questions</title>
</head>
<body>
               <% if(userId){ %>
 		    <div w3-include-html="headerLogged"></div>
                <% } %>
<a class="HomeLink" href="/">back to home</a>
<div class="h1">
Insert a new problem
</div>
<fieldset>
<form method="post" onsubmit="return validateInsertProblemForm();" action="InsertProblemAction">
  <br>
  Quiz Id:<br>
  <!--<input id="courseId" name="courseId" type="text" cols="150" required="true"></input> <br>-->
  <select id="quizId" name="quizId" required="true">
   <% for(var i=0;i<quizList.length;i++){ %>
   <% var index=quizList[i].indexOf('$,')%>
   <% var valQuiz=quizList[i].substring(index+2) %>
   <% var textQuiz=quizList[i].substring(0,index)%>
   <% console.log(valQuiz+' , '+textQuiz) %>
    <option value="<%= valQuiz %>"><%= textQuiz%></option>
   <%}%>
  </select> <br>
Problem Description:<br>
<textarea id="probDescription" name="probDescription" type="text" rows="10" cols="150" required="true">
</textarea>
<br>
<br>
Option1: <input type="text" name="option1" id="option1">&nbsp;&nbsp;
Option2: <input type="text" name="option2" id="option2">&nbsp;&nbsp;
Option3: <input type="text" name="option3" id="option3">&nbsp;&nbsp;
<br><br>
Option4: <input type="text" id="option4">&nbsp;&nbsp;
Answer Key: <input type="text" name="answerKey" id="answerKey" >&nbsp;&nbsp;
<br>
<br>
Answer Description:<br>
<textarea id="ansDescription" name="ansDescription" type="text" rows="10" cols="150" required="true">
</textarea> <br>
<br>
<br>
Author:<br>
<input id="authorName" name="authorName" type="text" cols="150" required="true">
</input> <br>
<br>
<input type="submit" value="insert problem"/>
                      <% if(message !== null){ %>
                   <p class="ActionMessage"><%= message %></p>
                      <% } %>
</form>
</fieldset>
</body>
<script type="text/javascript" src="scripts/general.js"></script>
<script type="text/javascript" src="scripts/insertProblem.js"></script>
</html>
