<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/videoChat.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"></script>
    <script
      src="https://kit.fontawesome.com/38a93eb0ae.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="videoChat">
      <div class="videoChat__left">
        <div id="videoChat-left-video-grid"></div>
        <div class="videoChat__left__controls">
          <div class="videoChat__left__controls__block">
            <div
              onclick="muteUnmute()"
              class="videoChat__left__controls__button videoChat__left__mute__button"
            >
              <i class="fas fa-microphone"></i>
              <span>Mute</span>
            </div>
            <div
              onclick="stopUnstopVideo()"
              class="videoChat__left__controls__button videoChat__left__stopVideo__button"
            >
              <i class="fa-solid fa-video"></i>
              <span>Stop Video</span>
            </div>
          </div>
          <div class="videoChat__left__controls__block">
            <div class="videoChat__left__controls__button">
              <i class="fas fa-shield-alt"></i>
              <span>Security</span>
            </div>
            <div class="videoChat__left__controls__button">
              <i class="fa-solid fa-user-friends"></i>
              <span>Participants</span>
            </div>
            <div class="videoChat__left__controls__button">
              <i class="fa-solid fa-comment-alt"></i>
              <span>Chat</span>
            </div>
          </div>
          <div class="videoChat__left__controls__block">
            <div class="videoChat__left__controls__button">
              <span class="leave-meeting">Leave Meeting</span>
            </div>
          </div>
        </div>
      </div>
      <div class="videoChat__right">
        <div class="videoChat__right__header">Chat</div>
        <div class="videoChat__right__chat__window">
          <ul id="chat-right-MessagesUl" class="messages"></ul>
        </div>
        <div class="videoChat__right__message__container">
          <input
            id="chat_message"
            type="text"
            placeholder="Type message here..."
          />
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/videoChat.js"></script>
  </body>
</html>
