@CHARSET "UTF-8";

/*setting box-sizing to border box enforces borders and padding
are included in the total height/width of the elements
*/
* {
    box-sizing: border-box;
}


.Header{
font-size:60px;
font-style:bold;
color:#ffbbcc;
text-align:center;
background-color:#88aa99;
margin-top:-6px;
padding-bottom:5px;
text-decoration:underline overline;
font-family:MonoSpace Lucida Console;
}

.Header label{
font-size:17px;
color:#000055;
float:right;
}

.Header input{
width:150px;
float:right;
}

.Header table{
width:100%;
border:none;
text-align:center;
}

.Header #logo{
text-align:right;
width:32%;
}

.Header td{
border:none;
text-align:right;
}

.Header a{
font-size:19px;
float:right;
margin-left:8px;
}

.Header button{
font-size:20px;
float:right;
}

.updateWindow{
   position:fixed;
   top:10%;
   left:2%;
  /* width:90%;*/
   /*max-width:100%;*/
   resize:both;
   /*padding-top:1%;*/
   /*height:650px;  or whatever width you want. */
   /*max-height:450px;  or whatever width you want. */
   background-color:#aaaaaa;
   border:1px solid white;
   overflow: scroll;
   display:none;
}

.updateWindowHeader{
  width:100%;
  height:30px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#x {
    position: relative;
    float: right;
    background: white;
	  color: black;
    top: 0px;
    /*right: -5px;*/
}

.probParent{
   width:800px;
   max-width:100%;
   resize:none;
   height:250px; /* or whatever width you want. */
   max-height:250px; /* or whatever width you want. */
   display: inline;
   overflow: scroll;
}

.EditButton {
  background-color: transparent;
   border:2px solid #ddd;
   padding:5px 20px;
   width: 5%;
   min-width: 150px;
   -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
   transition: all 0.1s ease-in-out;
/*font-size:17px;*/
  float:right;
}

.LeftWindow{
float:left;
padding-left:20px;
padding-right:20px;
height:1000px;
background-color:#ccff99;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#ShortCut{
padding-left:1em;
color:violet;
font-size:22px;
}

div.h1{
padding-top:5px;
padding-bottom:5px;
font-size:30px;
text-align:center;
color:green;
}

.tab2Allign{
margin-left:10em
/*float:right;*/
}

table{
border:solid green 2px;
}

td,th{
border:solid yellow 2px;
text-align:center;
}

.example{
padding-left:1em;
text-align:left;
color:blue;
font-size:20px;
font-family:sans serif;
border :1px solid #CDD;
}

.Question{
font-style:italic
padding-left:2em;
font-size:17px;
font-family:georgina,garamond,serif;
}

.Answer{
color:gray;
/*visibility:hidden;*/
display:none;
}

.showAnswer{
 background-color: transparent;
  border:2px solid #ddd;
  padding:5px 20px;
  width: 5%;
  font-size:15px;
  min-width: 150px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

fieldSet{
text-align:center;
background-color:#aaaaaa;
/*width:60%;*/
}

.menuButton{
background-color: ash;
  border:2px solid #ddd;
    font-size: 20px;
    cursor: pointer;
  padding:5px 15px;
  width: 5%;
  min-width: 150px;
}

.menuButton:hover, .menuButton:focus {
    background-color: #777792;
}


/* the following few classes are for the drop down menu*/
.problemMenuButton{

}


.courseMenuButton{

}


.quizMenuButton{
}

.userMenuButton{

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
   display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.problem-dropdown-content {

}

.dropdown-content a {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.quiz-dropdown-content {

}


.course-dropdown-content {

}


.user-dropdown-content {

}

.dropdown a:hover {background-color: #ccc;}

.show {display: block;}


.HomeLink{
float:right;
padding-right:20px;
}

.ActionMessage{
color:red;
font-style:italic;
}

body{
color:#8899aa;
font-size:16px;
}
