/*setting box-sizing to border box enforces borders and padding
are included in the total height/width of the elements
*/
* {
    box-sizing: border-box;
}

body{
  background-color: lightcyan;
  max-width: 100%;
  width: 100%;
}

.trsfm{
    color: #ff00aa;
}

/* ordinary devices lap-top, desktop etc */
.Header{
    font-style:bold;
    color:#000055;
    background-color:#ccff99;
    margin-top:-6px;
    padding-bottom:5px;
    font-family: Lucida  MonoSpace Console ;
  }


.row::after {
    content: "";
    clear: both;
    display: table;
}

.Header form {
    padding-top: 10px;
}

.Header #flexColLeft{
  float: left;
  width:55%;
}

.Header #flexColRight{
  float: left;
  width:45%;
}

#flexColRight #loginStatus{
  float:right;
}

.Header #logo{
  font-size:50px;
  #width:32%;
  text-decoration:underline overline;
  padding-left: 10px;
}

/* Small mobile*/
@media only screen and (max-width: 400px) {
  .Header #logo{
    font-size:25px;
  }
}

.Header #HeaderRightLink{
  float :right;
  font-size:17px;
  margin-right:8px;
}

/* Small mobile*/
@media only screen and (max-width: 400px) {
  .Header a{
    font-size:14px;
  }
}

.Header label{
  font-size:15px;
  color:#000055;
}


.Header input{
  width:150px;
}

.Header #userId {
  font-size:20px;
  padding-right:10px;
  color:red;
}

/* Small mobile*/
@media only screen and (max-width: 400px) {
  .Header #userId {
    font-size:15px;
  }
}


/* labtops*/
@media only screen and (min-width: 700px) {
  .alt-login-container{
    display: flex;
    justify-content: flex-end;
  }
}


.alt-login-container .alt-login-component{
  flex-basis: 25%;
  height: 3.5em;
  width: 10em;
  text-align: right;
}

.alt-login-container .alt-login-component-fb{
  background-image: url('https://res.cloudinary.com/dlr6kjemi/image/upload/v1590093383/fb_fc23w9.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 40px 40px
}

.Panel{
  margin-top: 10px;
  padding-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  background-color: lightgray;
  border-style: outset;
  border-radius: 8px;
}

/*pertaining to browse problems and show selected problem */
.probParent{
  width: 100%;
  max-width:100%;
  overflow-x: scroll;
  position: relative;
}

.Question{
font-style:italic;
padding-left:0.2em;
font-family:georgina,garamond,serif;
}

.Answer{
color:gray;
/*visibility:hidden;*/
display:none;
}

.showAnswer{
 background-color: #AA99BB;
  border:2px solid #ddd;
  padding:5px 20px;
  width: 5%;
  min-width: 150px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}


.searchBox{
  width: 50%;
}

@media only screen and (max-width: 400px) {
  .searchBox{
    width: 90%;
  }
}

.TopNavParent {
  display: block;
  width: 100%;
  text-align: right;
}

/* Add a black background color to the top navigation */
.TopNav {
  width: 100%;
  text-align: right;
  display: block;
  overflow: hidden;
}

/* The side navigation menu */
.TopNav input{
  display: block;
  padding: 6px 16px;
  margin-top: 7px;
  margin-left: 0px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 17px;
}

/* Hide the link that should open and close the topnav on small screens */
.TopNav .HamIcon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  /*.topnav a:not(:first-child) {display: none;}*/
  .TopNav input {display: none;}
  .TopNav a.HamIcon {
    /*float: left;*/
    padding-right: 5%;
    display: block;
    color: #3f3f3f;
    font-size: 20px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .TopNav.responsive {position: relative;}
  .TopNav.responsive a.HamIcon {
    /*position: absolute;*/
    left: 0;
    top: 0;
  }
  .TopNav.responsive input {
    float: none;
    display: block;
    text-align: right;
  }
}

.HomeLink{
  position: absolute;
  right: 0;
  padding-right:10px;
  padding-top: 0.5px;
  margin-bottom: 2px;
}

/* Small mobile*/
@media only screen and (max-width: 400px) {
 .HomeLink{
  font-size: 10pt;
 }
}

.homeIcon{
  border-radius: 10px;
  border-style:outset;
  border-color: gray;
  border-width: medium;
  width: 3em;
}


fieldset{
  text-align:center;
  background-color:#aaaaaa;
  max-width:100%;
  min-width: 0;
}


.InsertWindow #flexColLeft{
  float: left;
  width:70%;
}


.InsertWindow #flexColRight{
  float: left;
  width:30%;
}

/* laptops*/
.InsertWindow #quizId {
    width:40%;
}

@media only screen and (max-width: 500px) {
  .InsertWindow #quizId {
      width:70%;
  }
}

.simple-input-dialog{
  position: fixed;
  background: white;
  color:gray;
  width: 40%;
  height: 10%;
  top:20%;
  left: 40%;
  padding:10px;
  z-index:9002;
  border-color: dimgray;
  border-style:double;
  transition: 1.1s ease-out;
  transform: translateX(-40%) scale(1,1);
  backface-visibility: hidden;
  -webkit-transform: translateX(-40%) scale(1,1);
  -webkit-backface-visibility: hidden;
  overflow-y: scroll;
  padding-bottom: 30px;
  background-color: #CBB5D5;
}


@media only screen and (max-width: 500px) {
  .simple-dialog{
    width: 90%;
  }
}

/*popup dialog syles*/
.simple-dialog{
  position: fixed;
  background: white;
  color:gray;
  width: 80%;
  height: 90%;
  top:5%;
  left: 40%;
  padding:10px;
  z-index:9001;
  border-color: dimgray;
  border-style:double;
  transform: translateX(-40%) scale(1,1);
  backface-visibility: hidden;
  -webkit-transform: translateX(-40%) scale(1,1);
  -webkit-backface-visibility: hidden;
  border-radius: 2%;
  overflow-y: scroll;
  padding-bottom: 30px;
  background-color: #661155;
}


@media only screen and (max-width: 500px) {
  .simple-dialog{
    width: 90%;
  }
}

.simple-dialog-display-block{
  display: block;
}

.simple-dialog-display-none{
  display: none;
}

.simple-dialog-overlay{
  position: fixed;
}


hr.rounded {
  /* Rounded border */
  /*border-top: 8px solid #bbb;
  border-radius: 5px;*/
  border-top: 3px solid #bbb;
}


#ProblemEditDialog #flexColLeft{
  float: left;
  width:75%;
}

#ProblemEditDialog #flexColRight{
  float: left;
  width:25%;
}


.closeBtn{
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.closeBtn:hover {
  color: #000;
}

.quizInsert #courseId{
  width: 60%;
}

@media only screen and (max-width: 500px) {
  .quizInsert #courseId{
    width: 95%;
  }
}

/*
#UserInsert #flexColLeft, #UserInsert #flexColRight{
  float: left;
  width:50%;
  text-align: left;
}

#UserInsert #flexColLeft>input, #UserInsert #flexColRight>input{
  width:70%;
}

@media only screen and (max-width: 500px) {
  #UserInsert #flexColLeft{
    width:100%;
  }
}

@media only screen and (max-width: 500px) {
  #UserInsert #flexColRight{
    width:100%;
  }
}
*/

@media only screen and (min-width: 600px) {
  #UserInsert .row{
    display: flex;
   justify-content: space-between;
  }
}


#UserInsert .row  #flexColLeft{
  flex-basis: 45%;
}

#UserInsert .row  #flexColRight{
  flex-basis: 45%;
}


  #flexColLeft .line{
    display: flex;
  }


  #flexColRight .line{
    display: flex;
  }


#flexColLeft .line label {
  flex-basis: 20%;
}

#flexColLeft .line input {
  flex-basis: 75%;
}

#flexColLeft .line select {
  flex-basis: 75%;
}

#flexColRight .line label {
  flex-basis: 20%;
}

#flexColRight .line input {
  flex-basis: 75%;
}

@media only screen and (max-width: 600px) {
  #flexColLeft .line label {
    flex-basis: 30%;
  }

  #flexColLeft .line input {
    flex-basis: 70%;
  }

  #flexColLeft .line select {
    flex-basis: 70%;
  }

  #flexColRight .line label {
    flex-basis: 30%;
  }

  #flexColRight .line input {
    flex-basis: 70%;
  }
}



#x {
    position: relative;
    float: right;
    background: white;
	  color: black;
    top: 0px;
    border-width:3px;
    border-style: solid;
    border-color:gray;
    border-radius:10%;
    cursor: pointer;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
    background-color:white;
    transition: all 0.3s ease;
    /*right: -5px;*/
}



.loading{
  -webkit-animation: sk-scalout 1.0s infinite eas-in-out;
  -moz-animation: sk-scalout 1.0s infinite eas-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  background-color: black;
  border-radius: 100%;
  height: 6em;
  width: 6em;
}

.loadingContainer{
  position: absolute;
  top: 20em;
  left:35em;
  opacity: 0.3;
  filter: alpha(opacity=30);/*FOR IE8 and earlier*/
  align-items: center;
/*  background-color: azure;*/
  height: 10vh;
  justify-content: center;
  width: 20vw;
}

.profileParent{
  width:'100%';
  textAlign:'center';
  display:flex;
}

.profileCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 15%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .profileCard {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* On mouse-over, add a deeper shadow */
.profileCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profileCardOverlay{
  color: #fff;
font-size: 22px;
line-height: 1.5em;
text-shadow: 2px 2px 2px #000;
margin: auto;
}

.profileCardOverlayInsert{
  color: #fff;
font-size: 22px;
line-height: 1.5em;
text-shadow: 2px 2px 2px #000;
margin: auto;
}

.profileCard input[type=file] {
  visibility: hidden;
  position: absolute
}

@keyframes sk-scaleout {

  0%{
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100%{
        -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
    transform: scale(2.0);
  }
}
