
div.h1{
  padding-top:5px;
  padding-bottom:5px;
  font-family:serif;
  font-style:normal;
  font-size:30px;
  text-align:center;
  color:#333;
}

/* Small mobile*/
@media only screen and (max-width: 400px) {
  div.h1{
      font-size:25px;
  }
}

div.h2{
  padding-top:4px;
  padding-bottom:4px;
  font-family:serif;
  font-style:normal;
  font-size:25px;
  text-align:center;
  color:#333;
}

/* Small mobile*/
@media only screen and (max-width: 400px) {
  div.h2{
      font-size:20px;
  }
}

.Browse{
  width: 100%;
  overflow-x: scroll;
  position: relative;
}


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.displayTable{
  border:solid orange 2px;
  width: 100%;
}

.displayTable td, th{
  border:solid yellow 2px;
  text-align:center;
}




.EditButton {
   border:2px solid #ddd;
   background-color: #555;
   color:white;
   padding:3px 20px;
   width: 7%;
   min-width: 170px;
     cursor: pointer;
   -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
   transition: all 0.1s ease-in-out;
/*font-size:17px;*/
  float:right;
}

.LeftButton{
  border:2px solid #ddd;
  background-color: #555;
  color:white;
  padding:5px 20px;
  width: 5%;
  min-width: 150px;
    cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
