
.menuButton{
  background-color: #fff;
  border:2px solid #ddd;
    font-size: 16px;
    cursor: pointer;
  padding:5px 15px;
  width: 5%;
  min-width: 150px;
  border-color: lightgray;
}

.menuButton:hover, .menuButton:focus {
    background-color: #777792;
}


/* the following few classes are for the drop down menu*/
.problemMenuButton{

}


.courseMenuButton{

}


.quizMenuButton{
}

.userMenuButton{

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownProblem:hover .problem-dropdown-content {display: block;}
.dropdownQuiz:hover .quiz-dropdown-content {display: block;}
.dropdownCourse:hover .course-dropdown-content {display: block;}
.dropdownUser:hover .user-dropdown-content {display: block;}
.dropdownMeeting:hover .meeting-dropdown-content {display: block;}

.dropdown-content{
   display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.problem-dropdown-content {

}

.dropdown-content a {
    cursor: pointer;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.quiz-dropdown-content {

}


.course-dropdown-content {

}


.user-dropdown-content {

}

.meeting-dropdown-content {

}

.dropdown a:hover {background-color: #ccc;}

.show {display: block;}
