body{
    margin: 0;
    padding: 0;
}
.videoChat{
    height: 100vh;
    display: flex;
}
.videoChat__left{
    flex:0.8;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    max-height: 100vh;
    overflow-y: scroll;
}

#videoChat-left-video-grid{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-width: 80vw;
    /*max-height: 90vh;*/
    flex-wrap:wrap;
}

#videoChat-left-video-grid video{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.videoChat__left__controls{
    display: flex;
    background-color: #1C1E20;
    color: #D2D2D2;
    padding: 5px;
    justify-content: space-between;
}
.videoChat__left__controls__block{
    display: flex;
    justify-content:space-around;
}
.videoChat__left__controls__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}
.videoChat__left__controls__button i{
font-size: 24px;
}

.videoChat__left__controls__button:hover{
    background-color: #343434;
    border-radius: 5px;
}
    

.videoChat .leave-meeting{
    color: #EB534B;
}


.videoChat .unmute{
    color: #CC3B33;
}

.videoChat .stop{
    color: #CC3B33;
}


.videoChat__right{
    flex:0.2;
    background-color: #242324;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #3D3D42;
    height: 100vh;
}
.videoChat__right__header{
    color: #f5f5f5;
    text-align: center;
    font-size: 1.2rem;
}
.videoChat__right__chat__window{
    flex-grow: 1;
    max-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
}
.videoChat__right__message__container{
    padding: 22px 12px;
    display: flex;
}

.videoChat__right__message__container input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
}

#chat-right-MessagesUl{
    overflow-y: scroll;
    max-height: 100%;
}

#chat-right-MessagesUl .MessageElement{
color:white;
list-style: none;
}

#videChat__Dialog{
    position: fixed;
    z-index: 10;
    left: 20vw;
    top:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 40vw;
    background-color: #D2D2D2;
    border-style: ridge;
    border-color:#3D3D42;
    padding: 5px 0px;
}


/* MOBILE SCREEN */
@media screen and (max-width: 450px) {
    .videoChat{
        flex-direction: column;
    }
    .videoChat__left{
        max-height: 100vh;
        max-width: 100vw;
    }
    #videoChat-left-video-grid{
        flex-direction: column;
        max-width: 100vw;
        flex-wrap:nowrap
    }
    #videoChat-left-video-grid video{
        max-width: 300px;
        max-height: 250px;
    }
    .videoChat__left__controls{
        flex-direction: column;
    }
    .videoChat__right__chat__window{
        max-height: 10vh;
    }

    #videChat__Dialog{
        width: 80vw;
        left: 10vw;
        top:30vh;
    }
}